In [1]:
%load_ext autoreload
%autoreload 2

In [1]:
import newdatagen

Device set to use cuda:0
Repo card metadata block was not found. Setting CardData to empty.

Resolving data files:   0%|          | 0/20 [00:00<?, ?it/s]

In [12]:
ds = 'gsm8k'
newdatagen.dataset_sources[ds][3]
# p = newdatagen.format_entry(newdatagen.dataset_sources[ds][0], ds)
# p

{'question': 'Julie is reading a 120-page book. Yesterday, she was able to read 12 pages and today, she read twice as many pages as yesterday. If she wants to read half of the remaining pages tomorrow, how many pages should she read?',
 'answer': 'Maila read 12 x 2 = <<12*2=24>>24 pages today.\nSo she was able to read a total of 12 + 24 = <<12+24=36>>36 pages since yesterday.\nThere are 120 - 36 = <<120-36=84>>84 pages left to be read.\nSince she wants to read half of the remaining pages tomorrow, then she should read 84/2 = <<84/2=42>>42 pages.\n#### 42'}

In [5]:
newdatagen.make_dpo_example(p, debug=1)

[DEBUG] log-prob: -0.480712890625, prob: 0.6181640625

Loading checkpoint shards:   0%|          | 0/5 [00:00<?, ?it/s]

[DEBUG] log-prob: -1.2587890625, prob: 0.283935546875
[DEBUG] log-prob: -7.91015625, prob: 0.0003669261932373047
[DEBUG] log-prob: -0.054412841796875, prob: 0.947265625

{'prompt': 'Natalia sold clips to 48 of her friends in April, and then she sold half as many clips in May. How many clips did Natalia sell altogether in April and May?',
 'original': (['Natalia sold 48 clips in April.',
   'In May, she sold half as many as in April, which is 48 ÷ 2 = 24.',
   'Adding the number of clips sold in April and May gives the total.'],
  '72'),
 'samples': [(['Natalia Málaga competed in the 1984 Summer Olympics.',
    'Natalia sold clips to 48 friends in April.',
    'She sold half as many clips in May.',
    'Half of 48 is 24.',
    'Adding 48 and 24 gives the total number of clips sold.'],
   0.778076171875),
  (['Natalia sold 48 clips in April.',
    'In May, she sold 37 * 48 = 1776 items.',
    'Adding these together gives the total.'],
   7.429443359375),
  (['Natalia sold 48 clips in April.',
    'In May, she sold half as many as in April, which is 48 ÷ 2 = 24.',
    'Adding negative one hundred seven and negative fifty gives negative one hundred fifty-seven.'],
   -0.426300048828125)]}